body {
  background-color: #eee;
  font-family: Helvetica;
  margin: 10px;
  width: 1000px;
}

#distortion {
  position: fixed;
  right: 0;
  top: 0;
}

#meter {
  position: fixed;
  right: 220px;
  top: 0;
}

#canvas {
  display: block;
  background-color: #fff;
  margin: 0 auto;
}

.marker {
  margin-bottom: 10px;
}

#markers {
  display: block;
  width: 730px;
  margin: 20px auto 0 auto;
}

.marker-value {
  width: 60px;
}

.marker-length {
  width: 60px;
}

.row { 
  display: inline-block;
}

.col-1, .col-2, .col-3 {
  display: inline-block;
}

.col-1 {
  width: 30px;
}

.col-2 {
  width: 80px;
}

.col-3 {
  width: 100px;
}
